<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <nav class='animated bounceInDown bg-light'>
                    <ul class="nav flex-column min-vh-100">
                        <li><a class="nav-link"  asp-controller="Home" asp-action="Index">Home</a></li>
                        
                        <li class='nav-item has-submenu'>
                            <a class="nav-link" asp-controller="movie" asp-action="Index">Movie App<div class='fa fa-caret-down right'></div></a>

                            <ul class='submenu'>
                                <li><a href='#settings'>Account</a></li>
                                <li><a href='#settings'>Profile</a></li>
                                <li><a href='#settings'>Secruity & Privacy</a></li>
                                <li><a href='#settings'>Password</a></li>
                                <li><a href='#settings'>Notification</a></li>
                            </ul>
                        </li>
                        <li class='nav-item has-submenu'>
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy<div class='fa fa-caret-down right'></div></a>
                            <ul class='submenu'>
                                <li><a href='#settings'>FAQ's</a></li>
                                <li><a href='#settings'>Submit a Ticket</a></li>
                                <li><a href='#settings'>Network Status</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <div>
                </div>
            </div>
            <div class="col-10">


                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Movie App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>







</html>